@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@400;500;700&family=Rubik:wght@300&display=swap);body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #07060c!important;
    font-size: 16px;
    height: 100vh;
    margin: 0;
    overflow: auto;
    padding: 0
}

*,body {
    -webkit-user-select: none;
    user-select: none
}

* {
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
    font-family: Roboto,serif;
    outline: none!important
}

#root,.app {
    height: 100vh;
    max-height: 100vh;
    overflow: auto
}

.big-button:active,.big-button:hover,.gradient,.gradient-button,.text-gradient {
    background: linear-gradient(142deg,#cc4ddf 10%,#62bde0 50%,#2451e7 90%)!important;
    background: var(--linear,linear-gradient(142deg,#cc4ddf 10%,#62bde0 50%,#2451e7 90%))!important
}

.holder {
    align-items: center;
    background: hsla(0,0%,100%,.1);
    border-radius: 24px;
    display: flex;
    padding: 4px
}

.holder .button,.holder .text {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px
}

.holder .text {
    color: hsla(0,0%,100%,.3);
    padding: 0 16px
}

.holder .text-white {
    color: #fff!important
}

.holder .button {
    border: 0;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    padding: 9px 24px
}

.holder .button-white {
    background: #fff!important;
    color: #2451e7!important
}

.chevron {
    background: none;
    border: 0;
    cursor: pointer;
    height: 24px;
    width: 24px
}

.chevron-right {
    background: url(/static/media/chevron-right.291f586d42ced46d1737.svg) no-repeat 50%
}

a {
    color: var(--tg-theme-link-color)
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    left: 0;
    margin-top: 16px;
    padding: 0 10px 10px;
    position: absolute;
    right: 0;
    top: 0
}

.header .settings-button {
    align-items: center;
    background: hsla(0,0%,100%,.1);
    border: 0;
    border-radius: 24px;
    cursor: pointer;
    display: flex;
    height: 48px;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 48px
}

.categories {
    grid-gap: 16px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 16px
}

.categories .col,.categories .col .category {
    display: flex;
    flex-direction: column
}

.categories .col .category {
    align-items: start;
    background: hsla(0,0%,100%,.1) url(/static/media/icon.61193619d76e07c37b9e.svg) no-repeat 0 0;
    border: 1px solid #07060c;
    border-radius: 24px;
    margin-bottom: 16px;
    text-align: center
}

.categories .col .category__name {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    margin: 4px 20px 16px 16px;
    text-align: left
}

.categories .col .category__icon {
    height: 88px;
    width: 88px
}

.container {
    padding: 16px
}

.loadable {
    transition: all .3s ease
}

.loadable.loading {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: .5;
    pointer-events: none;
    position: relative;
    -webkit-user-select: none;
    user-select: none
}

.loadable.loading .spinner {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

.loadable.loading * {
    cursor: default!important
}

.icon {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover
}

.icon_01 {
    background-image: url(https://cdn.discordapp.com/attachments/1120073694077788182/1148621558017953792/SMM.png);}

.icon_02 {
    background-image: url(https://cdn.discordapp.com/attachments/1120073694077788182/1148621557254590615/Ideas.png);}

.icon_03 {
    background-image: url(https://cdn.discordapp.com/attachments/1120073694077788182/1148621556826783794/copywriting_4.png);

.icon_04 {
    background-image: url(https://cdn.discordapp.com/attachments/1120073694077788182/1148621558357688320/Video.png);

.icon_05 {
    background-image: url(https://cdn.discordapp.com/attachments/1120073694077788182/1148621557783085076/SEO.png);}
    
.icon_06 {
    background-image: url(https://cdn.discordapp.com/attachments/1120073694077788182/1148621558592585748/Ai.png);}

.icon_07 {
    background-image: url(https://cdn.discordapp.com/attachments/1120073694077788182/1148621557543993496/Marketing.png);}

.plus__h1 {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin: 0 24px;
    text-align: center
}

.plus__h2 {
    color: hsla(0,0%,100%,.3);
    font-size: 16px;
    line-height: 24px;
    margin: 8px 32px;
    text-transform: uppercase
}

.plus__h2,.plus__list {
    font-style: normal;
    font-weight: 400
}

.plus__list {
    background: hsla(0,0%,100%,.1);
    border-radius: 16px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    margin: 16px
}

.plus__list__item {
    align-items: center;
    border-bottom: 1px solid hsla(0,0%,100%,.05);
    display: flex;
    padding: 16px;
    transition: all .5s ease
}

.plus__list__item:active {
    background-color: hsla(0,0%,100%,.3);
    border-radius: 16px
}

.plus__list__item__text {
    flex-grow: 1
}

.plus__list__item__icon {
    background-position: 50%;
    background-repeat: no-repeat;
    height: 40px;
    margin-right: 12px;
    min-width: 40px;
    width: 40px
}

.plus__list__item__icon_number {
    align-items: center;
    background: #2451e7;
    border-radius: 12px;
    display: flex;
    font-size: 24px;
    justify-content: center
}

.plus__list__item__icon_number-gray {
    background: hsla(0,0%,100%,.1)
}

.plus__list__item__icon-01 {
    background-image: url(/static/media/plus_01.453165f3b2562c045c76.png);
    background-size: 40px 40px
}

.plus__list__item__icon-02 {
    background-image: url(/static/media/plus_02.64778963af9e4d9b7607.svg)
}

.plus__list__item__icon-03 {
    background-image: url(/static/media/plus_03.5a7970e2da30f6c943f4.svg)
}

.plus__list__item__icon-04 {
    background-image: url(/static/media/plus_04.f6037dd3bb0c9eeca2f6.svg)
}

.plus__list__item__icon-05 {
    background-image: url(/static/media/plus_05.ed091589a5132ebf5f2f.svg)
}

.plus__list__item:last-child {
    border: 0
}

.plus__text {
    color: hsla(0,0%,100%,.3);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin: 0 32px
}

.gradient-button {
    border: 0;
    border-radius: 32px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .16px;
    line-height: 30px;
    padding: 13px 25px;
    text-align: center
}

.bottom-button {
    bottom: 16px;
    left: 16px;
    position: absolute;
    right: 16px;
    z-index: 100
}

.text-gradient {
    -webkit-text-fill-color: transparent!important;
    background-clip: text!important;
    -webkit-background-clip: text!important
}

.text-red {
    color: #ea2d2d
}

.text-blue {
    color: #2451e7
}

.text-white {
    color: #fff
}

.text-small {
    font-size: 12px
}

.text-big {
    font-size: 16px
}

.text-gray {
    color: hsla(0,0%,100%,.3)
}

.text-bold {
    font-weight: 700
}

textarea {
    background: hsla(0,0%,100%,.1);
    border: 1px solid hsla(0,0%,100%,.3);
    border-radius: 16px;
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    min-height: 80px;
    padding: 16px;
    width: 100%
}

.icon-check {
    background: url(/static/media/check.19ef080b4c96c5c64e4c.svg) no-repeat 50%;
    height: 24px;
    width: 24px
}

.icon-chevron-right {
    background: url(/static/media/chevron-right.291f586d42ced46d1737.svg) no-repeat 50%;
    height: 24px;
    width: 24px
}

.top-gradient {
    background: linear-gradient(180deg,#07060c,#07060c 65%,transparent);
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.top-gradient-small {
    background: linear-gradient(180deg,#07060c,transparent);
    height: 20px
}

.bottom-gradient {
    background: linear-gradient(180deg,transparent,#07060c 40%,#07060c);
    bottom: 0;
    height: 110px;
    left: 0;
    position: absolute;
    right: 0
}

.bottom-gradient-small {
    background: linear-gradient(180deg,transparent,#07060c);
    height: 20px
}

.big-button {
    background: hsla(0,0%,100%,.1);
    border-radius: 16px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
    padding: 16px;
    text-align: center;
    transition: all .5s ease
}

/*# sourceMappingURL=main.168d8f3d.css.map*/
